
<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Boleta de salida</title>
    <link rel="icon" href="{{ url_for('static', filename='mi_icono.ico') }}">

<style>
body{
    font-family: monospace;
    width:80mm;
    margin:0 auto;
    padding:10px;
}

h2{
    text-align:center;
    margin:5px 0;
}

hr{
    border-top:1px dashed black;
}

table{
    width:100%;
    font-size:12px;
}

td{
    padding:2px 0;
}

.total{
    font-weight:bold;
    font-size:14px;
}

.footer{
    text-align:center;
    margin-top:10px;
    font-size:11px;
}
</style>

<script>
window.onload = function(){
    window.print();
}
</script>

</head>

<body>

<h2>🛒 GrandBuildInmobiliaria</h2>
<p style="text-align:center;">RUC: 00000000000</p>
<hr>

<p><strong>Fecha:</strong> {{ fecha }}</p>
<p><strong>Aprobado por:</strong> {{ aprobador }}</p>

<hr>

<table>
    {% set total_productos = 0 %}
    {% for p in productos %}
    <tr>
        <td colspan="2"><strong>{{ p['codigo_producto'] }}</strong></td>
    </tr>
    <tr>
        <td colspan="2">{{ p['nombre_producto'] }}</td>
    </tr>
    <tr>
        <td>Cant: {{ p['cantidad'] }}</td>
        <td style="text-align:right;">Ub: {{ p['ubicacion'] }}</td>
    </tr>
    <tr><td colspan="2"><hr></td></tr>
    {% set total_productos = total_productos + p['cantidad'] %}
    {% endfor %}
</table>

<p class="total">TOTAL PRODUCTOS: {{ productos|sum(attribute='cantidad') }}</p>

<hr>

<div class="footer">
Gracias por su gestión<br>
Sistema de Inventario
</div>

</body>
</html>